---
layout: default
---

<a href="{{ relative_url }}../">{{ site.theme_config.back_home_text }}</a>

{{ content }}

<h1 id="index">Index</h1>

<!--Create Jump Links List-->
<dl>
    {% for ref in site.data.resource_categories %}
    {% assign entry = ref[1] %}
    <dt>
        <a href="#{{ entry.link }}"> {{ entry.name }} </a>

    </dt>
    <dd> {{entry.description}} </dd>
    {% endfor %}
</dl>

{% for ref in site.data.resource_categories %}
{% assign entry = ref[1] %}
<!--Create Heading and Description-->
<h2 id="{{entry.link}}">{{ entry.name }}</h2>
<p>
    {{entry.description}}
</p>


<!--Create Table-->
{% include external_resource_table.html collection=entry.entries %}

<a href="#index">Return to Index</a>
{% endfor %}