---
layout: default
---

{% if site.theme_config.show_navbar == true %}
{% include horizontal_list.html collection=site.data.home.navbar_entries %}
<div class="dashed"></div>
{% endif %}
{{ content }}

<hr>

<h1 id="index">Index</h1>

<!--Create Jump Links List-->
<dl>
    {% for ref in site.data.resource_categories %}
    {% assign entry = ref[1] %}
    <dt>
        <a href="#{{ entry.link }}"> {{ entry.name }} </a>

    </dt>
    <dd> {{entry.description}} </dd>
    {% endfor %}
</dl>

{% for ref in site.data.resource_categories %}
{% assign entry = ref[1] %}
<!--Create Heading and Description-->
<hr>
<h2 id="{{entry.link}}">{{ entry.name }}</h2>
<p>
    {{entry.description}}
</p>


<!--Create Table-->
{% include external_resource_table.html collection=entry.entries %}

<a href="#index">Return to Index</a>
{% endfor %}

{% if site.theme_config.show_footer == true %}
<footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
</footer>
{% endif %}